html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
}

o-app {
  height: 100%;
}

html {
  --simp-block-bg: var(--md-ref-palette-primary95);
}
html.dark {
  --simp-block-bg: var(--md-ref-palette-normal10);
}
